﻿@foreach (System.Security.Claims.Claim claim in ViewBag.ClaimsIdentity.Claims)
{
    <table>
        <tr>
            <td>
                @claim.Type
            </td>
            <td>
                @claim.Value
            </td>
        </tr>
    </table>
}