﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}

<h3>Welcome to the LiU WS-Federation Test Harness</h3>

@if (!User.Identity.IsAuthenticated)
{
    <text>You are  not logged in to Living it Up</text>
}
else
{
    <p>
        &nbsp;<br />
        You are logged in with the following identity claims:
    </p>
    foreach (System.Security.Claims.Claim claim in ViewBag.ClaimsIdentity.Claims)
    {
        <table>
            <tr>
                <td>
                    <b>@(claim.Type):</b> @(claim.Value)
                </td>
            </tr>
        </table>
    }
}

