﻿<p>
&nbsp;<br />
You have successfully logged into Living it Up.<br/>
You have the following identity claims:
</p>
@foreach (System.Security.Claims.Claim claim in ViewBag.ClaimsIdentity.Claims)
{
    <table>
        <tr>
            <td>
                <b>@(claim.Type):</b> @(claim.Value)
            </td>
        </tr>
    </table>
}